<main>
	
	<h2>{{pageTitle}}</h2>		
	
	<section id="formulaire" class="row">
	<h3>Recherche de documents</h3>			
		<form class ="list-form container" method="GET" action="template_list.html">
			<div class="col-xs-12 col-sm-6 col-md-4 form-group">
				<label for="title">Titre</label>
				<input type="text" class="form-control" id="title" placeholder="Entrer un titre" ng-model="listeCtrl.state.text.titre" ng-minlength="2">
			</div>
			<div class="col-xs-12 col-sm-6 col-md-4 form-group">
				<label for="author">Nom de l'auteur</label>
				<input type="text" class="form-control col-xs-8" id="author" placeholder="Entrer un titre" ng-model="listeCtrl.state.text.auteur" ng-minlength="2">
			</div>
			<div class="col-xs-12 col-sm-6 col-md-4 form-group">
				<label for="type">Type de media</label>
				<select id="type" class="form-control col-xs-8" ng-model="listeCtrl.state.tri" ng-options="option.label for option in listeCtrl.order">
				</select>
			</div>
			<div class="col-xs-offset-3 col-xs-6 col-sm-offset-9 col-sm-3">
				<input class="col-xs-12 btn btn-default" type="submit" value="Rechercher">
			</div>
		</form>
			
	</section>
{{listeCtrl.state.tri}}
			
	<section class="row">
	<h3>Résultats</h3>
		<table id="myTable" class="col-sm-12 hidden-xs" >
			<thead>
				<tr>
					<th ng-repeat="type in listeCtrl.fields">
						<a href="javascript:triTable({type.key}})"><i class="fa fa-sort"></i>{{type.label}}</a>
					</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="elt in listeCtrl.list | filter: listeCtrl.state.text
				 									 | filter: {type:listeCtrl.state.tri.type}"  
				 									 ng-click="listeCtrl.view(elt.id)">
					<td ng-repeat="type in listeCtrl.fields" >
						{{elt[type.key]}}
					</td>
				</tr>
			</tbody>
		</table>
		
		
		<!-- TODO style a refaire pour le format mobile  -->
		<ul class="liste visible-xs col-xs-12">
			<li ng-repeat="elt in listeCtrl.list">
				<p ng-repeat="type in listeCtrl.fields"> 
					<strong>{{type.label}}  : </strong>{{elt[type.key]}}<br> 
				</p>
			</li>
		</ul>
</main>
