form {
  padding: 10px;
  border-radius: 5px;
  background-color: #F3E2A9;
}
form label {
  font-family: Georgia;
}
form input.form-control {
  border-radius: 25px;
}
form input.form-control:focus {
  background-color: #F8ECE0;
}
form input.btn {
  border-radius: 25px;
}
/***************************************************************
"Interrupteurs" permettant de cacher les elements d'�dition en vue et vice-versa
***************************************************************/
body.consultation .only-view {
  display: block;
}
body.consultation .only-edit {
  display: none;
}
body.edition .only-view {
  display: none;
}
body.edition .only-edit {
  display: block;
}
/* style global */
.adherent nav {
  background-color: #FF5300;
}
.adherent h1,
.adherent h2 {
  color: #FF5300;
}
.media nav {
  background-color: #1419CC;
}
.media h1,
.media h2 {
  color: #1419CC;
}
/* Dropdown */
.nav .dropdown {
  padding: 0%;
}
.nav .dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0;
  width: 100%;
}
