/***************************************************************
"Interrupteurs" permettant de cacher les elements d'édition en vue et vice-versa
***************************************************************/

	body.consultation .only-view {display:block;}
	body.consultation .only-edit {display:none;}
	body.edition .only-view {display:none;}
	body.edition .only-edit {display:block;}