/*Formulaire */

form{
	color: white;
	padding: 10px;
	border-radius: 5px;
	label{
		font-family: Georgia;
	}
	select,input{
		&.form-control{
			.border-radius(25px);	
		}
	}
	select,input{
		&.form-control:focus{
			background-color: #F8ECE0;
		}

	}
	input{
		&.btn{
			border-radius: 25px;
		}
	}

}