@activeinputcolor:#F8ECE0;

form{
	padding: 10px;
	border-radius: 5px;
	label{
		font-family: Georgia;
	}
	.form-control{
		border-radius: 25px;	
	}

	.form-control:focus{
		background-color: #F8ECE0;
	}

}