/***************************************************************
"Interrupteurs" permettant de cacher les elements d'édition en vue et vice-versa
***************************************************************/
body,html{
	height:100%;
}

body.consultation .only-view {display:block;}
body.consultation .only-edit {display:none;}
body.edition .only-view {display:none;}
body.edition .only-edit {display:block;}
	
/* colorisation */

body{

	&.adherent
	{
		nav{
			background-color:@colorAdherent;	
			li{
				a:hover,a:focus,a:active{
					background-color:@colorAdherentDark;
				}
				.dropdown-menu
				{
					background-color:@colorAdherent;
				}
			}
		}
		
		footer{
			background-color: @colorAdherent;
		}

		h1,h2
		{
			color:@colorAdherent;	
		}
		form{
			background-color: @colorAdherent;
		}
		table{
			background-color: @colorAdherent;
		}
	}

	&.medias
	{
		nav{
			background-color:@colorMedia;
			li{
				a:hover,a:focus,a:active{
					background-color:@colorMediaDark;
				}
				.dropdown-menu
				{
					background-color:@colorMedia;
				}			
			}
		}
		footer{
			background-color: @colorMedia;
		}		
		h1,h2
		{
			color:@colorMedia;	
		}	
		form{
			background-color: @colorMedia;
		}
		table{
			background-color: @colorMedia;
		}
	}

}
