/***************************************************************
"Interrupteurs" permettant de cacher les elements d'édition en vue et vice-versa
***************************************************************/

	body.consultation .only-view {display:block;}
	body.consultation .only-edit {display:none;}
	body.edition .only-view {display:none;}
	body.edition .only-edit {display:block;}
	
/* style global */

.adherent
{
	nav{
		background-color:@colorAdherent;	
		li{
			a:hover{
				background-color:@colorAdherentDark;
			}
			.dropdown-menu
			{
				background-color:@colorAdherent;
			}
		}
	}
	
	h1,h2
	{
		color:@colorAdherent;	
	}
}

.media
{
	nav{
		background-color:@colorMedia;
		li{
			a:hover{
				background-color:@colorMediaDark;
			}
			.dropdown-menu
			{
				background-color:@colorMedia;
			}			
		}
	}
	h1,h2
	{
		color:@colorMedia;	
	}	
}