body.page-login {
  background: url("../img/cote_rambla.jpg");
  background-size: cover;
}
.form-connexion {
  padding: 10px;
  background: rgba(79, 150, 178, 0.8);
  /* todo utiliser la couleur less. stp */
}
.form-connexion h1 {
  color: white;
  text-align: center;
}
.form-connexion a,
.form-connexion a:hover,
.form-connexion a:focus,
.form-connexion a:visited,
.form-connexion a:active {
  margin-top: 5px;
  color: white;
  text-decoration: none;
}
.form-connexion .mdpOublie {
  text-align: center;
}
footer {
  margin-top: 50px;
  padding: 10px;
  color: #ffffff;
}
footer section {
  vertical-align: bottom;
}
footer section a,
footer section a:active,
footer section a:focus,
footer section a:visited,
footer section a:hover {
  color: white;
  text-decoration: none;
}
/*Formulaire */
form {
  color: white;
  padding: 10px;
  border-radius: 5px;
}
form label.fa.fa-fw {
  margin-bottom: 0px;
}
form select.form-control,
form input.form-control {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}
form select.form-control:focus,
form input.form-control:focus {
  background-color: #F8ECE0;
}
/* Dropdown */
header {
  margin-bottom: 30px;
  background: url(../img/fond-header.jpg);
  background-size: cover;
  background-position: 50% 35%;
}
header h1 {
  display: none;
}
header #logo {
  display: block;
  height: 120px;
  background: white url(../img/logo.jpg);
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}
header .nav .dropdown {
  padding: 0%;
}
header .nav .dropdown .dropdown-menu {
  margin-top: 0;
  width: 100%;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  outline: none;
  border: none !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
  padding-top: 0;
}
header .nav .dropdown:hover .dropdown-menu {
  display: block;
}
header .nav a,
header .nav a:active,
header .nav a:visited,
header .nav a:hover {
  color: white;
}
/***************************************************************
"Interrupteurs" permettant de cacher les elements d'�dition en vue et vice-versa
***************************************************************/
body,
html {
  height: 100%;
  font-family: 'Open Sans', sans-serif;
}
body.consultation .only-view {
  display: block;
}
body.consultation .only-edit {
  display: none;
}
body.edition .only-view {
  display: none;
}
body.edition .only-edit {
  display: block;
}
/* colorisation */
body.adherent nav {
  background-color: #B25E00;
}
body.adherent nav li a:hover,
body.adherent nav li.open a:hover,
body.adherent nav li a:focus,
body.adherent nav li.open a:focus,
body.adherent nav li a:active,
body.adherent nav li.open a:active {
  background-color: #4c2800;
}
body.adherent nav li .dropdown-menu,
body.adherent nav li.open .dropdown-menu {
  background-color: #B25E00;
}
body.adherent nav li.open > a {
  background-color: #4c2800;
}
body.adherent footer {
  background-color: #B25E00;
}
body.adherent main h1,
body.adherent main h2 {
  color: #B25E00;
}
body.adherent main h3 {
  background-color: #B25E00;
  color: white;
}
body.adherent table {
  background-color: #ffdbb2;
}
body.adherent table th {
  background-color: #B25E00;
}
body.adherent h3 {
  background-color: #B25E00;
}
body.adherent .list-form {
  background-color: #B25E00;
}
body.medias nav {
  background-color: #4F96B2;
}
body.medias nav li a:hover,
body.medias nav li.open a:hover,
body.medias nav li a:focus,
body.medias nav li.open a:focus,
body.medias nav li a:active,
body.medias nav li.open a:active {
  background-color: #2f5b6c;
}
body.medias nav li .dropdown-menu,
body.medias nav li.open .dropdown-menu {
  background-color: #4F96B2;
}
body.medias nav li.open > a {
  background-color: #2f5b6c;
}
body.medias footer {
  background-color: #4F96B2;
}
body.medias main h1,
body.medias main h2 {
  color: #4F96B2;
}
body.medias main h3 {
  background-color: #4F96B2;
  color: white;
}
body.medias table {
  background-color: #ffffff;
}
body.medias table th {
  background-color: #4F96B2;
}
body.medias form {
  background-color: #4F96B2;
}
body.medias h3 {
  background-color: #4F96B2;
}
body.medias .list-form {
  background-color: #4F96B2;
}
body .noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
table {
  border-radius: 5px;
}
table tr th {
  padding: 5px 10px;
  color: white;
}
table tr th .fa-sort {
  float: right;
  vertical-align: bottom;
  margin-top: 3px;
}
table tr th a,
table tr th a:hover,
table tr th a:focus,
table tr th a:visited {
  color: white;
  text-decoration: none;
}
table tr td {
  padding: 5px 10px;
}
body.adherent .list-form {
  background-color: #B25E00;
}
body.medias .list-form {
  background-color: #4F96B2;
}
body ul.liste {
  padding-left: 25%;
  list-style-type: none;
}
body h3 {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  padding: 5px;
}
body ul {
  list-style-type: none;
  margin-bottom: 10px;
}
body .single-form {
  color: black;
}
/* responsive */
@media only screen and (min-width: 768px) {
  header nav {
    margin-top: 80px;
  }
}
