<footer class="row">
	
	<section class="col-xs-12 col-sm-6 col-md-4">
	<strong>Développé par</strong>
		<p class="footer-company-name">Ahmed Rafik</p>
		<p class="footer-company-name">Guillaume Di Nicola</p>
		<p class="footer-company-name">Justin Ossart</p>
	</section>

	<section class="col-xs-12 col-sm-6 col-md-4">
	<strong>Responsable de la maintenance</strong>
		<div>
			<p><span class="fa fa-user-md"></span> Yann POLYGONE</p>
			<p><span class="fa fa-phone"></span> +1 234 56789 </p>
			<p><span class="fa fa-envelope"></span> <a href="mailto:helpdesk@mediatic-rambla.com">helpdesk@mediatic-rambla.com</a></p>
		</div>
	</section>

	<section class="col-xs-12 col-sm-12 col-md-4">
	<strong>Copyright Mediatic Cote Rambla &copy; 2015</strong>
		<p><span class="fa fa-map-marker fa-2x"></span> 421 Rambla des Calissons Montpellier, France</p>
	</section>	

</footer>